@{
    ViewBag.Title = "Comenzile mele";
}

@if (ViewBag.mesaj != null)
{
    <h2>@ViewBag.mesaj</h2>
    <br />
}


@if (ViewBag.areComenzi == null && ViewBag.isAdmin)
{
    <h1>Nu există nici o comandă adăugată.</h1>
    <br />
}
else if (ViewBag.areComenzi == null && !ViewBag.isAdmin)
{
    <h1>Nu aveți nici o comandă adăugată.</h1>
    <br />
}
else
{
    <h1>Lista completă a comenzilor:</h1>

    foreach (var comanda in ViewBag.comenzi)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>ID Comanda: @comanda.idComanda</h4>
            </div>
            <div class="panel-body">
                Data plasare: @comanda.dataPlasare
                <br />
                Data finalizare: @(@comanda.dataFinalizare == @comanda.dataPlasare ? "Comanda nefinalizata" : comanda.dataFinalizare)
                <br />
                Sumă: @comanda.sumaDePlata
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary" href="/Comanda/Afisare/@comanda.idComanda"><i class="glyphicon glyphicon-search"></i> Afișează comanda</a>
                <br />
            </div>
        </div>
    }
}

