
@{
    ViewBag.Title = "FormAdaugare";
}

@model Proiect_ASP_final.Models.Produs

<h2>Adauga un nou produs (functionalitatea ar trebui sa fie disponibila doar utilizatorilor colaboratori)</h2>
<br />
<form method="post" action="/Produs/Adaugare">

    @Html.Partial("InputProdus", @Model)

    <select id="categoriiForm" class="form-control" name="categoriiDeAdaugatId" multiple>

        @foreach (var categ in Model.CategoriiAsociate)
        {
            <option value="@categ.Value" selected>@categ.Text</option>
        }
        @foreach (var categ in Model.CategoriiNeasociate)
        {
            <option value="@categ.Value">@categ.Text</option>
        }

    </select>
    <p for="categoriiForm" class="text-danger">@ViewBag.eroareCategoriiLipsa</p>
    <br />
    <button class="btn btn-outline-success" type="submit">Adaugă noul produs</button>

</form>