
@{
    ViewBag.Title = "FormEditare";
}

@model Proiect_ASP_final.Models.Produs

<h2>Editează produsul (functionalitate la care ar trebui sa aiba acces doar userii colaboratori / adminii?)</h2>

<form method="post" action="/Produs/SwitchEditare/@Model.idProdus">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Partial("InputProdus", @Model)

    <label>Categorii</label>
    <select class="form-control" name="categoriiActualizateId" multiple>

        @foreach (var categ in Model.CategoriiAsociate)
        {
            <option value="@categ.Value" selected>@categ.Text</option>
        }
        @foreach (var categ in Model.CategoriiNeasociate)
        {
            <option value="@categ.Value">@categ.Text</option>
        }

    </select>
    <p class="text-danger">@ViewBag.eroareCategoriiLipsa</p>
    <br />
    <br />
    <button class="btn btn-outline-success" type="submit">Salveaza modificările</button>
    <br />
    <hr />
</form>
<br />



