@model Proiect_ASP_final.Models.Produs

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/Produs/Afisare/@Model.idProdus">@Model.titlu</a>
    </div>
    <div class="panel-body">
        <i class="glyphicon glyphicon-user"></i> Producător: @Model.numeOwner
        <br />
        <i class="glyphicon glyphicon-tag"></i> @Model.pret
        <br />
        <i class="glyphicon glyphicon-star"></i>

        @if (Model.nrRatinguri == 0)
        {
            @: (Nici un rating)
        }
        else
        {
            @Model.ratingMediu @:(@Model.nrRatinguri rewiew - uri)
        }
        <br />
    </div>
    <div class="panel panel-footer">
        <a class="btn btn-outline-primary" href="/Produs/Afisare/@Model.idProdus" role="button">Afișare produs</a>
        <br />
    </div>
</div>
